[role=separator]
    background rgba(grey-07,.85)


section
    background-color white
    border-radius 4px

    .data
        :not(:empty) ~ ul:not(:first-of-type)
            border-top 1px solid grey-02
