&.container
    @extend $fullbleed

    [role=separator]
        @extend $fullbleed


section
    width 100%
    max-width em(960px)
    max-height 90vh
    @extend $centerized

    display flex

    .data
        flex 1
