@import 'cozy-ui'
@import 'base/*'
@import 'app/*'

@import 'components/_drawer'
@import 'components/_merge'

main
    @import 'components/_toolbar'
    @import 'components/_contacts'

.dialogs
    @import 'components/_card'
    @import 'components/_duplicates'
    @import 'components/_settings'
