lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.map

pids
logs
results

node_modules
npm-debug.log

client/bower_components
client/public
client/app/locales/*.json
!client/app/locales/en.json

picture.jpg
