.tool-actions


.tool-labels


if mode != 'select'
    footer.tool-subactions
        nav: ul
            li: button.secondary
                .fa.fa-cog
                span= t('tools subactions settings')
