body
    color grey-08

h1
    reset()
    bottom-spaced (20px/26px)em
    font-size em(26px)
    text-transform capitalize

h2
    reset()
    bottom-spaced (10px/22px)em
    font-weight normal
    font-size em(22px)
    color grey-06
    text-transform capitalize

ul
    list-style none

a
    color blue
    text-decoration none

legend
    color          grey-05
    font-size      em(14px)
    font-weight    bold
    text-transform uppercase
