[for=contacts-search]
    display flex
    align-items center
    position relative

    .fa
        position absolute
        left 1em
        top 50%
        transform translateY(-50%)


    input
        flex 1
        padding .7em 1em .7em 3em
