aside.drawer
    .tool-actions
    .tool-labels
    if mode != 'select'
        footer.tool-subactions
            nav: ul
                li: a.secondary(href="settings", role="button")
                    .fa.fa-cog
                    span= t('tools subactions settings')

main
    div(role="toolbar")
    div(role="contentinfo" tabindex="1")
        div(role="grid")
            .indexes
            .results
        .counter

.dialogs(aria-hidden="true")
.alerts(aria-hidden="true")
