nav: ul
    li: a.add.secondary(href="contacts/new", role="button")
        .fa.fa-plus
        span= t('tools actions add contact')
    li: a.add.secondary(href="contacts/duplicates", role="button")
        .fa.fa-code-fork
        span= t('tools actions find duplicates')
