form#toolbar.form-search
    .input-append.input-prepend
        span.add-on: i.fa.fa-search
        input#filterfield.search-query.input-large(
            type="text", placeholder=t("search placeholder"))
        a.button#filterClean: i.fa.fa-remove

    a#new.button(href="#contact/new", title=t("add contact"))
      i.fa.fa-plus

    a#gohelp.button(href="#help", title=t("go to settings"))
      i.fa.fa-cog

#contacts
