[aria-hidden=true]
    @media (max-width: mobile-bp)
        display none


#close
    display none
    @media (max-width: mobile-bp)
        display block

    padding 0.5em
    border none

    i
        margin 0 0.5em


// Contact Sheet Positions
#contact-container
    display flex
    flex-wrap wrap
    justify-content space-around

    .ui-flex
        box-sizing border-box
        padding 0 15px

    .ui-flex-half
        width 50%

        @media (max-width: mobile-bp)
            width 100%

    .ui-flex-full
        width 100%

    header
        display flex
        margin: 1em 0

    [role=tablist]
        display none

        @media (max-width: mobile-bp)
            display block

    .tags
        display flex

        input
            flex 1

    @media (max-width: mobile-bp)
        .ui-menubar
            display flex
            justify-content space-between
            padding 0

            #menu-actions
                position relative
                top 0
                right 0

            [aria-controls] span
                display inline


        .tab-title
            display none

        #notes-zone
            margin-top: 10px


#picture
    position relative
    width 90px
    height 90px
    margin-right 1em
    overflow hidden

    .picture
        position absolute
        display block
        width 100%
        height 100%

#uploader
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    margin 0px

#uploadnotice
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    box-sizing border-box
    line-height 90px


#wrap-name-notes
    flex 1


#menu-actions
    position absolute
    top      1em
    right    15px      // ui-flex padding-right

    [aria-controls]
        i
            margin 0 0.5em

        span
            display none

    .ui-menulist
        left  initial
        right 0


#menu-addmore
    margin 1em 0

    .ui-menulist
        top initial
        bottom 100%
