
.photoContainer
    img
        border: 5px solid transparent
        height: 120px
        margin-bottom: 2.5px
        margin-right: 2.5px

#img-to-crop
    display: block
    max-width:300px
    max-height:300px
    // width: auto
    // height: auto

// #img-preview
//     display: block
//     width: auto
//     height: auto
#frame-img-preview
  width:100px
  height:100px
  overflow:hidden

#img-preview
  max-width: none
  // margin-left:5px

.modal-body.photoBrowser
  background-color: #123456

.modal-body img.selected
    border: 5px solid #34a6ff
    // height: 120px
    border-radius: 4px
    -webkit-border-radius: 4px
    -ms-filter: none
    filter: none

.chooseAgain
  position: absolute
  bottom: 0
  right: 9px