.card
    [role=img]
        @media (max-width: (800/basefont)rem)
            align-self center


    header
        align-items center

        h1
            reset()

            @media (max-width: (800/basefont)rem)
                text-align center
                margin-bottom 0.75em

        .tags
            flex 1
            display flex
            flex-wrap wrap

            li
                right-spaced .25em
                bottom-spaced .25em
                padded .25em .45em
                border-radius 2px
                background-color grey-01
                font-size .85em
                text-transform capitalize
                color grey-07


    .avatar
        font-size 32px
        avatar    128px
        spaced    1em

        @media (max-width: (800/basefont)rem)
            bottom-spaced 0.25em


    .initials
        background-color grey-02
        color            white

        @media (max-width: (800/basefont)rem)
            padded 10px 30px


    .data
        flex    1
        padded 30px 10px

        @media (max-width: (800/basefont)rem)
            padded 10px, 30px


        .block
            reset()
            vertically-spaced 10px

            li
                bottom-spaced 4px

        .group
            display     flex
            align-items baseline

        .type
            width          8em

            font-size      em(13px)
            color          grey-05
            font-style     normal
            text-transform uppercase

        .value
            reset()
            flex 1
            word-break break-all


        .block[data-type] ul:not(:empty)
        .block [data-type]:first-child ul:not(:empty)
        &.edit .block
            top-padded 10px
            border-top 1px solid grey-02


    // tags select dropdown
    .tags
        [aria-haspopup]
            dd
                white-space nowrap

            legend
                horizontally-padded 16px

            ul
                vertically-spaced 8px
                max-height 30vh
                overflow-x hidden
                overflow-y auto

            li
                vertically-spaced   8px
                horizontally-padded 16px

            label
                display     flex
                align-items center

                cursor pointer

                span
                    flex 1
                    left-padded 0.5em

            .create

                horizontally-spaced em(8px)

                &[aria-expanded=false] [for=tag-new]
                &[aria-expanded=true] button
                    hide()

                input
                button
                    width         100%
                    box-sizing    border-box
                    padded        7px
                    border-radius 4px


    // edition mode
    .edit
        legend
            display       block
            width         100%
            top-spaced    16px
            bottom-padded 8px
            font-weight   normal
            border-bottom 1px solid grey-01

        input
            background-color transparent

        .avatar
            cursor pointer

        .group
            align-items       stretch
            position          relative
            vertically-spaced 6px

            &:hover
                input
                    background-color grey-01

            input:focus
                background-color grey-01

            &:not(:hover) button
            input.empty + button
                hide()

            input + button
                padding                   0 .4em
                background-color          grey-01
                border-top-left-radius    0
                border-bottom-left-radius 0
                font-size                 .8em
                color                     grey-06

            input:not(.empty)
                border-top-right-radius    0
                border-bottom-right-radius 0

            .fa
                margin 0

        .type
            right-spaced 2px

            &:focus
                color grey-08

        .value
            horizontally-padded 8px
            border-radius       em(2px)

        textarea.value
            min-height 5em
            padded     8px


    aside
        padded 30px

        @media (max-width: (600/basefont)rem)
            display none

        li:not(:last-child)
            display       block
            bottom-spaced em(10px)

        button
        [role=button]
            display    block
            box-sizing border-box
            width      100%
            text-align left

        .fa
            right-spaced 10px
