.card
    .wrapper
        width      100%
        max-width  em(960px)
        max-height 90vh
        @extend    $centerized

        display flex

        background-color white
        border-radius 4px

        .data
            flex    1
            padding em(20px)

            ul
                padding-top em(10px)
                margin      em(10px) 0

                li
                    margin-bottom em(4px)

                    &:last-child
                        margin 0

                .type
                    display        inline-block
                    width          6em

                    font-size      em(13px)
                    color          grey-05
                    font-style     normal
                    text-transform uppercase

            :not(:empty) ~ .block:not(:first-of-type)
                border-top 1px solid grey-02

        aside
            padding em(20px)

            @media (max-width: (360/16)rem)
                display none

            li > *
                display block
                margin-bottom em(10px)

            .fa
                margin-right em(10px)
