[role=list]
    [role=columnheader]
    padding-left 1.5em


    [role=rowgroup]
        padding 0 1em


    [role=listitem]
        display flex
        align-items center
        padding .3em 0


    [role=gridcell]
        flex 3
        white-space nowrap
        margin 0 .5em

        &.name
            flex 4
            display flex
            align-items center


    .fa-caret-down
        margin 0 .3em


    .type
        hide()
