[role=list]
    [role=columnheader]
        padding-left 1.5em

        background-color grey-01

        font-size      14px
        font-weight    bold
        text-transform uppercase


    [role=rowgroup]
        padding 0 1em


    [role=listitem]
        display flex
        align-items center
        padding .3em 0

        text-decoration none

        &:not(:last-child)
            border-bottom 1px solid grey-02

        > a
            color           grey-08
            text-decoration none

        > dl
            color grey-05

        > label
            @media (max-width: (360/16)rem)
                display none

        [type=checkbox]
            hide()


    [role=gridcell]
        flex 3
        margin 0 .5em

        &.name
            flex 4
            display flex
            align-items center

            color grey-08

            @media (max-width: (360/16)rem)
                margin-left 0

        .initials
            flex-shrink 0

            background-color grey-03 // TO DO: remove it
            border-radius    50%

            color white

        .avatar
            avatar(40px)


    .fa-caret-down
        margin 0 .3em


    .type
        hide()
