[role=grid]

    .search
        background-color blue + 80%
        color black

    [role=columnheader]
        background-color grey-01
        font-size      14px
        font-weight    bold
        text-transform uppercase

    // [role=row]:last-child
    //     border none


.counter
    margin-top 1.5em
    padding    0 1em .5em

    text-align  left
    line-height 1em
    color       grey-05

    &:not(.important)
        display     flex
        margin-top  em(8px)
        align-items center
        font-style  italic
        font-size   em(13px)
        color       grey-04

        &::before
        &::after
            content ''
            flex 1
            margin 0 1em
            border-top 1px solid grey-01
