.drawer
    padding          em(20px)

    background-color grey-01
    border-right     1px solid grey-03

    button
        display    block
        width      100%

        text-align left

    .fa
        margin-right em(10px)
