.drawer
    display flex
    flex-direction column

    vertically-padded .5em
    left-padded 20px

    background-color grey-01
    border-right     1px solid grey-03

    @media (max-width: (360/16)rem)
        display none


    [class^=tool-]
        vertically-spaced 10px


    [class$=actions]
        padding-right 1.25em


    legend
    button
    [role=button]
        display       block
        box-sizing    border-box
        width         100%

        text-align left

    li:not(:last-child)
        button
        [role=button]
            bottom-spaced .5em


    .tool-labels
        vertically-spaced()
        flex 1
        overflow-y auto

        legend
            color          grey-05
            font-size      14px
            text-transform uppercase

        label
            display           flex
            align-items       center
            vertically-spaced .5em
            text-transform    capitalize

        input
            hide()

        ul
            // height calc(100vh - 12em)
            padding-right em(20px)
            // overflow-y auto
