.drawer
    padding          em(20px)

    background-color grey-01
    border-right     1px solid grey-03

    @media (max-width: (360/16)rem)
        display none

    .tools > *
        margin-bottom em(20px)

    button
        display    block
        width      100%

        text-align left

    .fa
        margin-right em(10px)
