.duplicates

    @extend $dialog

    [role=contentinfo]
        flex-wrap wrap

        padding 30px
        border-radius 4px

        background-color white

        > ul
            flex 1
            top-spaced 1em


    h1
        flex 1 1 30em
        reset()
        font-weight bold
        font-size 20px


    [role=mergegroup]
        horizontally-padded em(16px)
        border 1px solid #DDE6EF

        &:not(:last-child)
            bottom-spaced (20px)

        > dt
            display flex
            align-items center
            justify-content space-between
            vertically-padded em(10px)

            border-bottom 1px solid #DDE6EF

    [role=listitem]
        [type=checkbox]
            right-spaced em(10px)

        label
            display flex
            align-items center
            width 100%

    .btn-group button:not(:last-child)
        right-spaced em(4px)

    .ui-contactrow
        flex 1
        display flex
        align-items center
        padding .3em 0
        width 100%

        text-decoration none

        > a
            color           grey-08
            text-decoration none

        > dl
            color grey-05

        > label
            @media (max-width: (360/16)rem)
                display none
