.duplicates

    @extend $dialog

    [role=contentinfo]
        position relative
        
        padding 30px
        border-radius 4px

        background-color white

    h1
        font-weight bold
        font-size 20px

    .ui-mergeall
        position absolute
        top 30px
        right 30px

    [role=mergegroup]
        padding 15px
        border 1px solid #DDE6EF

        > dt
            height 40px
            position relative

            border-bottom 1px solid #DDE6EF

            button
                float right

    [role=listitem]
        display block
        
        &:not(:last-child)
            border-bottom 1px solid grey-02

        > [type=checkbox]
            float left
            margin 10px

    .ui-contactrow
        display flex
        align-items center
        padding .3em 0

        text-decoration none

        > a
            color           grey-08
            text-decoration none

        > dl
            color grey-05

        > label
            @media (max-width: (360/16)rem)
                display none
