.merge
    @extend $dialog
    // TODO : copy from card actualy.
    
    [role=contentinfo]
        transform translateY(0%) !important
        flex-basis 30em !important
        
        position relative
        
        padding 30px
        border-radius 4px

        background-color white


    h1
        font-weight bold
        font-size 20px

    dl
        margin-bottom 2em

    dt
        font-weight bold
        color grey-04
        line-height 1.5em

    ul
        list-style-type none
        padding 0
        margin 0

    li
        line-height 2em

    input
        margin-right 0.5em

    > dd
        &:not(:last-child)
            border-top 1px solid grey-02


    ul.avatars

        li
            display inline-block

        

        img.avatar
            border 5px solid white

        input:checked+img
            border 5px double blue

    dd    
        input
            hide()


        label
            cursor pointer

        input + i
            display inline-block
            width 1em
            height 1em
            margin -1px 4px 0 0
            vertical-align middle
            
            -moz-border-radius 50%
            border-radius 50%
            border 2px double grey-05
            
            background-color white


        input:checked + i
            border 2px double blue

            background-color blue


    dl dl
        margin-left 1em

    .cancel
        float right

    .avatar
        font-size 32px
        avatar    128px
        spaced()
