.settings

    &[role=dialog] [role=contentinfo]
        flex-direction column
        flex-basis 30em

        box-sizing border-box
        padding 2em

        div
            bottom-spaced em(30px)

        button
            width 49%
            vertically-padded 1em

        img
            vertically-spaced em(10px)


    img
        display block

    select
        cursor    pointer
        display   block
        width     100%
        height    46px
        font-size 1em
