[role=toolbar]

    > div
        display flex


    .drawer-toggle
        background-color grey-01
        border-color grey-03
        border-top 0
        border-left 0
        border-radius 0
        outline none
        color grey-05

        @media (min-width: (1023/basefont)rem)
            hide()

        i
            reset()


    [for=contacts-search]
        flex 1
        display flex
        align-items center
        position relative

        &.empty .fa-times
        &:not(.empty) .fa-search
            hide()

        .fa
            position absolute
            left 1em
            top 50%
            transform translateY(-50%)
            color grey-05

        .fa-times
            padding 0
            border  none
            background-color transparent

        input
            flex 1
            padding .7em 1em .7em 3em

            background-color grey-01
            border-bottom    1px solid grey-03


            &:hover
                border-color grey-05

            &:active
            &:focus
                background-color white
                border-color     blue

            &::placeholder
                color grey-06

            &[aria-invalid=true]
                background-color grey-01
                color grey-06
