dt= t('card action add select')
dd.add: ul
    if bday == null
        li: button(value="bday")= t('card action add birthday')
    li: button(value="social")= t('card action add social')
    li: button(value="url")= t('card action add link')
    li: button(value="other")= t('card action add other')
