//- dl.dropdown.add
//-     dt= t('card action add select')
//-     dd: ul
//-         li: button(value="bday")= t('card action add birthday')
//-         li: button(value="social")= t('card action add social')
//-         li: button(value="link")= t('card action add link')
//-         li: button(value="other")= t('card action add other')
