dt.outline.secondary.caret(role="button")= t('card actions add select')
    i.fa.fa-caret-down
dd(role="listbox"): ul
    if bday == null
        li(role="option"): button.link(value="bday")= t('card actions add birthday')
    li(role="option"): button.link(value="social")= t('card actions add social')
    li(role="option"): button.link(value="url")= t('card actions add link')
    li(role="option"): button.link(value="other")= t('card actions add other')
