button
[role=button]
.btn
    padding          em(8px) em(16px)

    background-color blue
    border           1px solid blue
    border-radius    2px

    font-size        em(14px)
    color            white
    text-transform   uppercase
    text-decoration  none

    transition-property        color, background-color
    transition-timing-function ease-out
    transition-duration        0.2s

    &:hover
        background-color darken(blue, 20%)
        border-color     darken(blue, 20%)

        transition none

    &[aria-busy=true]
        .fa
            display none

        &:before
            @extend $icon-spinner-white
            @extend $icon-16
            margin-right 0.625em

    &.outline
        background-color transparent
        color            blue

        &[aria-busy=true]

            &:before
                @extend $icon-spinner-grey

        &:hover
            background-color blue
            color            white

            &[aria-busy=true]

                &:before
                    @extend $icon-spinner-white

    &.secondary
        background-color grey-04
        border-color     grey-04

        &:hover
            background-color grey-05
            border-color     grey-05

        &.outline
            background-color transparent
            color            grey-05

            &:hover
                background-color grey-05
                color            white

    &.danger
        background-color red
        border-color     red

        &:hover
            background-color darken(red, 20%)
            border-color     darken(red, 20%)

        &.outline
            background-color transparent
            color            red

            &.special
                background-color transparent
                border-color     grey-04
                color            grey-05

                &:hover
                    border-color red

            &:hover
                background-color red
                color            white

    &.link
        horizontally-padded 4px
        background-color    transparent
        border-color        transparent
        color               blue

        &:hover
            color darken(blue, 20%)

    &.caret i.fa-caret-down
        float  right
        margin 0
        left-spaced .625em
