// Wondering why we need to reset some properties.
// For exemple, <fieldset> has some properties I had to reset.
// I have no idea where it came from.

fieldset
    border  none
    margin  0
    padding 0
