mixin formatName(name)
    if name.prefix
        = name.prefix
        | 
    = name.first
    | 
    if name.middle
        = name.middle
        | 
    b= name.given
    if name.suffix
        | 
        = name.suffix


mixin formatPoint(point)
    i.type
        = point.type
        | &nbsp;
    span.value= point.value


mixin formatJob(title, org, dept)
    if title
        = title
    if title && org
        |  - 
    if org
        = org
    if org && dept || title && dept
        |  
    if dept
        | (#{dept})


mixin input(name, type)
    - var label = t('datapoint label ' + name.replace('.', ' '))
    - var fid = [name, ref].join('-')
    - var placeholder = attributes.placeholder? t('datapoint placeholder ' + name) : false
    - var value = attributes.value
    include components/key-field.jade
    

mixin groupInput(point, prefix, index)
    case point.name
        when 'im'
        when 'chat'
            - var entity = 'social'
        when 'url'
            - var entity = 'link'
        default
            - var entity = 'default'
    - var placeholder = attributes.placeholder? t('datapoint placeholder ' + (entity == 'default'? point.name : entity)) : false
    include components/datapoint-field.jade
