.dialogs
    [role=separator]
        background alpha(grey-07, .85)


[aria-haspopup=true]
    > :nth-child(2)
        background-color white
        border em(1px) solid grey-01
        border-radius em(5px)
        box-shadow 0 0 em(5px) alpha(grey-03, .85)
