.dialogs
    [role=separator]
        background alpha(grey-07, .85)


[aria-haspopup=true]
    > :nth-child(2)
        background-color white
        border em(1px) solid grey-01
        border-radius em(5px)
        box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23)

        button:hover
            background-color blue


// TODO: make as Cozy-Ui component
$progress
    width         100%
    height        1em
    color         blue
    font-size     .6em
    background    grey-01
    border        none
    border-radius em(20px)

    // chrome and safari
    &::-webkit-progress-bar
        background    grey-01
        border-radius em(20px)

    &::-webkit-progress-value
        background    blue
        border-radius em(20px)

    // firefox
    &::-moz-progress-bar
        background    blue
        border-radius em(20px)


$error
    background-color red
    color white
    padding .5em
    border-radius 4px
