main
    background-color white
    @media (max-width: (1023/basefont)em)
        box-shadow 0 0 24px 6px rgba(grey-08,.15)


.dialogs
    [role=separator]
        background alpha(grey-07, .85)


[aria-haspopup=true]
    > :nth-child(2)
        background-color white
        border em(1px) solid grey-01
        border-radius em(5px)
        box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23)

        button:hover
            background-color blue
