.fa
    right-spaced 10px
    font-size    18px


    input + &
        color grey-05


[aria-haspopup=true]
    > :nth-child(2)
        button
            text-align left

            &:hover
                color white


// TODO: To move to cozy-ui, global styles
[role=dialog]
    [role=separator]
        cursor pointer

    [role=contentinfo]
        overflow initial

        &::before
            display block

            position  absolute
            top       0
            right     0
            transform translateX(115%) translateY(-110%)
            @media (max-width: (60)rem)
                right 1em

            content        "×"
            font-size      em(32px)
            text-rendering auto
            font-smooth    antialiased

            color white

            cursor pointer
