[role=contentinfo]
    div > dl > dt
        font-size      14px
        font-weight    bold
        text-transform uppercase

    ul
        li > p a
            color           grey-08
            text-decoration none

        li > dl
            color grey-05


    .initials // TO REMOVE
        color #fff
