[role=contentinfo]
    div > dl > dt
        font-size      14px
        font-weight    bold
        text-transform uppercase

    ul
        li > p a
            color           grey-08
            text-decoration none

        li > a > dl
            color grey-05


    .initials // TO REMOVE
        color #fff

[role=list]
    [role=listitem]
        text-decoration none

        .name
            color grey-08
