.empty
    hide()


[role=application]
    @extend $app-2panes-toolbar


[role=contentinfo]
    dl
    dd
        reset()

    // TODO: make a mixin for avaters and use it it conteact-list component
    .initials
        @extend $content-center

        width        em(40px)
        height       em(40px)
        right-spaced .5em


.dialogs
    @extend $fullbleed

    [role=separator]
        @extend $fullbleed
