avatar(size)
    @extend $content-center

    width         em(size)
    height        em(size)
    right-spaced  .5em
    border-radius 50%


.empty
    hide()


[role=application]
    @extend $app-2panes-toolbar


[role=contentinfo]
    dl
    dd
        reset()


.dialogs
    @extend $fullbleed

    [role=separator]
        @extend $fullbleed
