extends ../../lib/views/templates/base/dialog.jade

block content
    h1= t('duplicates title')

    button(type="submit").ui-mergeall
        .fa.fa-code-fork
        span= t('duplicates actions mergeall')
          |  (#{size})

    ul

