extends ../../lib/views/templates/base/dialog.jade

block content
    h1 find duplicates

    button(type="submit").outline
        .fa.fa-plus
        span= t('duplicates actions mergeall')
          | (#{size})

    ul

