extends ../../lib/views/templates/base/dialog.jade

block content
    h1= t('duplicates title')

    button(type="submit").outline.ui-mergeall
        .fa.fa-plus
        span= t('duplicates actions mergeall')
          |  (#{size})

    ul

